%ul.nav.nav-pills
  %li.dropdown{ :class => "#{active?('candidate_profile_public')}#{active?('candidate_profile_sent')}" }
    %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
      Profile
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to 'public', candidate_profile_public_path
      %li
        = link_to 'sent to recruiter', candidate_profile_sent_path
  %li{ :class => active?('candidate_discussions') }
    = link_to 'Interactions', candidate_discussions_path
  