= render 'menu_candidate'

%br/
%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
          
    .span8
      .row
        .span6.offset2
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span4
                %h5 You said:
                %br/
                %h3  I'd really like to work for you. Can we talk?
                %br/
                .btn.btn-large.btn-danger No, not interested
                .btn.btn-large.btn-success Yes it'd be great!

      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              Jonathan Ive has accepted your request.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag 'ive.jpg'
              .span3
                %h5 Jonathan Ive said:
                %p Ok sure, but why should we hire you?
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p My boyfriend's a geek and he says you're great, plus your marketing is mindblowing.
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p To be frank I also love what you guys do, working for such a creative company would be like a dream come true.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag 'ive.jpg'
              .span3
                %h5 Jonathan Ive said:
                %p Is that so? I guess I could give a word for you then. My marketing colleagues might be interested.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag 'ive.jpg'
              .span3
                %h5 Jonathan Ive said:
                %p Shall we sit around a cup of coffee to discuss first?
                .btn.btn-danger No
                .btn.btn-success Yes
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              You have answered "yes" to your Jonathan Ive's question.
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p I'd love to! When is best?
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag 'ive.jpg'
              .span3
                %h5 Jonathan Ive said:
                %p I've got to run but give me your email address and I'll get back to you later today!
                .input-append
                  %input.span2{ :size => '16', :type => 'text' }
                  .btn.btn-primary{ :type => 'button', :style => 'margin-left:-5px' } Send
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-envelope
              You have sent "wansa@example.com" to Jonathan Ive
      #dynamic_content
      .row
        = render 'candidate_toolbox'
        .span5
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('wansa.jpg')" } Send
                %button.btn{ :onclick => 'clean()' } Clear