= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
          
    .span9
      .row
        .span1.offset1.well
          = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
        .span1{ :style => 'width: 98px; margin: 40px 37px 0 25px' }
          .lead.success
            .icon-ok
              matches
        .span4
          .card{ :style => 'margin: -4px 0 12px -15px' }
            .row
              .span4.well
                .row
                  .span1
                    = image_tag('default_user.jpg')
                  .span3
                    %h3 Project Manager
                    .lead 5-8 yrs experience
      .row
        .span7.offset1.success
          .pull-right.italic
            a few seconds ago
      %br/
      #dynamic_content
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('#{session[:candidate][:pic]}')" } Send
                %button.btn{ :onclick => 'clean()' } Clear
