= render 'menu_candidate'

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'

    .span8
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              5 days ago
            %i.icon-share
              Franck Sabattier
              %strong
                = link_to '@fsabattier', 'https://twitter.com/#!/fsabattier', :target => '_blank'
              has tweeted your profile.
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-globe
              %strong
                = link_to 'Joel Laumans', 'https://twitter.com/#!/piksels', :target => '_blank'
              @piksel has visited your profile from Twitter.
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              5 days ago
            %i.icon-share
              Franck Sabattier has shared you profile on
              %strong
                = link_to('LinkedIn', 'http://fr.linkedin.com/in/francksabattier/en', :target => '_blank')+'.'
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              Yesterday
            %i.icon-globe
              %strong
                = link_to 'Xavier Dupuis', 'http://fr.linkedin.com/pub/xavier-dupuis/49/971/a92', :target => '_blank'
              has visited your profile from LinkedIn.
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              10 minutes ago
            %i.icon-retweet
              %strong
                = link_to 'Xavier Dupuis', 'http://fr.linkedin.com/pub/xavier-dupuis/49/971/a92', :target => '_blank'
              has reshared your profile on LinkedIn.
	  
      