= render 'menu_candidate'

.row
  .span5
    .row
      .card
        %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
          %li
            %a{ :href => '#' }
              %i.icon-download
              Download CV
              
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
              %i.icon-globe
              Elsewhere online
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'LinkedIn', '#'
              %li
                = link_to 'Twitter', '#'
              %li
                = link_to 'Tumblr', '#'
  .span6
    .row
      %a.btn.btn-primary.pull-right{ :href => candidate_profile_path, :style => 'margin:0' }
        .icon-eye-close
        Close preview

.row
  .span5
    .card
      .row
        .span4.well
          .row
            .span1
              = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
            .span3
              %h3 
                = session[:candidate][:full_name]
              %p
                = session[:candidate][:city]+', '+session[:candidate][:country]
              %p
                = session[:candidate][:role].to_s+' at '+session[:candidate][:company]
      .row
        .span1.well
          %h6
            Experience
          .gigantic 
            = session[:candidate][:experience] == 1.to_s ? '1 yr' : session[:candidate][:experience].to_s+'yrs'
        .span3.well{ :style => 'padding-right:0' }
          %h6 
            Education
          .lead 
            = session[:candidate][:education]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6
            Skills
          .lead
            .row
              .span3
                = session[:candidate][:pro_skill_1][:name]
                - if session[:candidate][:pro_star] == 'candidate_pro_skill_star_1'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_1][:level]
            .row
              .span3
                = session[:candidate][:pro_skill_2][:name]
                - if session[:candidate][:pro_star] == 'candidate_pro_skill_star_2'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_2][:level]
            .row
              .span3
                = session[:candidate][:pro_skill_3][:name]
                - if session[:candidate][:pro_star] == 'candidate_pro_skill_star_3'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_3][:level]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6 
            Qualities
          .lead
            .row
              .span3
                = session[:candidate][:inter_skill_1][:name]
                - if session[:candidate][:inter_star] == 'candidate_inter_skill_star_1'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_1][:level]
            .row
              .span3
                = session[:candidate][:inter_skill_2][:name]
                - if session[:candidate][:inter_star] == 'candidate_inter_skill_star_2'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_2][:level]
            .row
              .span3
                = session[:candidate][:inter_skill_3][:name]
                - if session[:candidate][:inter_star] == 'candidate_inter_skill_star_3'
                  .icon-star
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_3][:level]
  
  .span5.offset1

    %br/
    %br/
    %br/   
    %br/
    %br/
    %br/       
    %br/
    %br/
    %br/
    %br/
    %br/
  
    %h2{ :style => 'text-align:right' }
      .i.icon-comment
      &nbsp;
      = session[:candidate][:catchphrase]
    %br/
    %br/
    .pull-right
      .btn-group{ :style => 'display:inline-block' }
        %a.btn.btn-gigantic.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#', :style => 'padding-left: 15px; margin-bottom: -24px'  }
          %i.icon-share
          Share
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Email', candidate_profile_email_share_others_path
          %li
            = link_to 'Social networks', candidate_profile_social_share_others_path
      %a.btn.btn-gigantic.btn-success{ :href => recruiter_starts_discussion_path, :style => 'margin-right:0' } Let's talk!
      %br/
      %br/  
      
            