= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
        
    .span8
      .row
        .span6.offset2
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span4
                %h5 You said:
                %br/
                %h3  I'm keen to work for your company and would really love to go over a few ideas together soon.
                %br/
                .btn.btn-large.btn-danger.disabled No, not interested
                .btn.btn-large.btn-success.disabled Yes it'd be great!

      .row
        .span7.offset1.danger
          %i.icon-remove
            Franck Sabattier has denied your request.
          .pull-right.italic
            5 days ago
      %br/
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('loubi.jpg')
              .span3
                %h5 Franck Sabattier said:
                %p Hello! Thanks for you message. I don't think you match any of the profiles we are looking for though.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('loubi.jpg')
              .span3
                %h5 Franck Sabattier said:
                %p  What I mean is that I don't see how we could use you skills.
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Oh ok, I thought you might have openings for positions that I could fit in.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('loubi.jpg')
              .span3
                %h5 Franck Sabattier said:
                %p No we don't, sorry about that.
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Alright, no problem! Do you by any chance know anyone who could be interested?
                .btn.btn-danger.disabled No
                .btn.btn-success.disabled Yes
      .row
        .span7.offset1.success
          %i.icon-ok
            Franck Sabattier answered "yes" to your question.
          .pull-right.italic
            2 days ago
      %br/          
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('loubi.jpg')
              .span3
                %h5 Franck Sabattier said:
                %p I'm not sure but I'll see if anyone wants to have a look. Do you have a CV that I could pass around?
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Of course, you can get it here
                .btn-group
                  .btn
                    %i.icon-download
                    Download my CV
                
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Or just use this site since it's quite convenient.
                .btn-group
                  %a.btn.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
                    %i.icon-share
                    Share my profile
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'Email', candidate_profile_share_path
                    %li
                      = link_to 'LinkedIn', candidate_profile_share_path
                    %li
                      = link_to 'Twitter', candidate_profile_share_path
                    %li
                      = link_to 'Facebook', candidate_profile_share_path
                    %li
                      = link_to 'Google+', candidate_profile_share_path
      
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('loubi.jpg')
              .span3
                %h5 Franck Sabattier said:
                %p Great, this looks easy. Nice talking to you, I'll share your profile immediately. Bye!
      .row
        .span7.offset1.info
          %i.icon-share
            Franck Sabattier
            %strong
              = link_to '@fsabattier', 'https://twitter.com/#!/fsabattier', :target => '_blank'
            has tweeted your profile.
          .pull-right.italic
            a day ago
      %br/
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Thank you very much for that!
      .row
        .span7.offset1.info
          %i.icon-share
            Franck Sabattier has shared you profile on
            %strong
              = link_to('LinkedIn', 'http://fr.linkedin.com/in/francksabattier/en', :target => '_blank')+'.'
          .pull-right.italic
            7 hours ago
      %br/
      #dynamic_content
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('#{session[:candidate][:pic]}')" } Send
                %button.btn{ :onclick => 'clean()' } Clear