= render 'menu_candidate'

.row
  .span5
    .card
      .row
        %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
          %li
            %a{ :href => '#' }
              %i.icon-download
              Download CV
              
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
              %i.icon-globe
              Elsewhere online
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'LinkedIn', '#'
              %li
                = link_to 'Twitter', '#'
              %li
                = link_to 'Tumblr', '#'
                
      .row
        .span4.well
          .row
            .span1
              = link_to image_tag('wansa.jpg'), candidate_profile_public_path
            .span3
              %h3 Wansa Sooksomwat
              %p Amsterdam, Netherlands
      .row
        .span1.well
          %h6
            Experience
          .gigantic 1 yr
        .span3.well{ :style => 'padding-right:0' }
          %h6 
            Education
          .lead HBO Bachelor in Communication & Media
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6
            Professional skills
          .lead
            .row
              .span3
                External communication
              .span1
                .progress.progress-striped.progress-success
                  .bar{ :style => 'width:80%' }
            .row
              .span3
                Event planning
                .icon-star
              .span1
                .progress.progress-striped.progress-success
                  .bar{ :style => 'width:80%' }
            .row
              .span3
                Writing
              .span1
                .progress.progress-striped
                  .bar{ :style => 'width:60%' }
            
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6 
            Interpersonal skills
          .lead
            .row
              .span3
                Good team mate
              .span1
                .progress.progress-striped.progress-warning
                  .bar{ :style => 'width:100%' }
            .row
              .span3
                Attention to details
              .span1
                .progress.progress-striped
                  .bar{ :style => 'width:60%' }
            .row
              .span3
                Organization
              .span1
                .progress.progress-striped
                  .bar{ :style => 'width:60%' }
  .span7
    %br/
    %br/
    %br/
    .row
      .span3.offset4
        .row
          .span1
            = image_tag 'loubi.jpg'
          .span1
            %p{ :style => 'margin-top:-2px' } shared by:
            %h3{ :style => 'line-height:24px' } Franck Sabattier
    %br/
    %br/
    %br/
    %br/       
    %br/
    %br/
    %br/
    %br/
    .row
      .span5.offset1
        %h2{ :style => 'text-align:right' }
          .i.icon-comment
          &nbsp;
          Hey dude, I ran into this profile and thought you might be interested, she'd be perfect for everything PR!
        %br/
        %br/
        .pull-right
          %a.btn.btn-gigantic
            .icon-share
            Share profile
            %span.caret
          %a.btn.btn-gigantic.btn-primary{ :href => recruiter_starts_discussion_path, :style => 'margin-right:0' } Start a discussion!
