= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
          
    .span8
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              2 weeks ago
            %i.icon-share
              Xavier Dupuis has shared you profile on
              %strong
                = link_to('LinkedIn', 'http://fr.linkedin.com/pub/xavier-dupuis/49/971/a92', :target => '_blank')+'.'
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              1 week ago
            %i.icon-globe
              %strong
                = link_to 'Patrick Charre', 'http://fr.linkedin.com/pub/patrick-charre/7/574/442', :target => '_blank'
              has visited your profile from LinkedIn.
      .row
        .span6.offset2
          .alert.alert-danger
            .pull-right.italic
              5 days ago
            %i.icon-remove
              %strong
                = link_to 'Patrick Charre', 'http://fr.linkedin.com/pub/patrick-charre/7/574/442', :target => '_blank'
              has said he is not interested in your profile.
      .row
        .span5.offset2
          .well
            .row
              .span1
                = image_tag('patrick.jpeg')
              .span3
                %h5 Patrick Charre said:
                %p I was having a quick look at your profile but we're looking for someone more experience really.
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-globe
              %strong
                = link_to 'Dominic Matheron', 'http://nl.linkedin.com/in/dominicm', :target => '_blank'
              has visited your profile from LinkedIn.
      .row
        .span5.offset3
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'http://nl.linkedin.com/in/dominicm', :target => '_blank'
              has reshared your profile on LinkedIn.
      .row
        .span5.offset3
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'https://twitter.com/#!/dominic_m', :target => '_blank'
              @dominic_m has retweeted your profile.
      .row
        .span5.offset3
          .alert.alert-info
            .pull-right.italic
              2 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'http://facebook.com/dominic.matheron', :target => '_blank'
              has reshared your profile on Facebook.
      
      
