= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
          
    .span8
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'http://nl.linkedin.com/in/dominicm', :target => '_blank'
              has reshared your profile, on LinkedIn.
      .row
        .span6.offset2
          .alert.alert-info
            .pull-right.italic
              Yesterday
            %i.icon-globe
              %strong
                = link_to 'Florin Buduroi', 'http://nl.linkedin.com/in/florinbuduroi', :target => '_blank'
              has visited your profile, from LinkedIn.
      .row
        .span6.offset2
          .alert.alert-success
            .pull-right.italic
              Yesterday
            %i.icon-ok
              %strong
                = link_to 'Florin Buduroi', 'http://nl.linkedin.com/in/florinbuduroi', :target => '_blank'
              is interested in your profile.
      .row
        .span6.offset2
          .well
            .row
              .span1
                = image_tag('florin.jpg')
              .span3
                %h5 Florin Buduroi said:
                %p Good morning Wansa! Just stumbled upon your profile, can talk soon? I have a few positions I'd like you to look at.
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'https://twitter.com/#!/dominic_m', :target => '_blank'
              has reshared your profile, on Twitter.
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              2 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'http://facebook.com/dominic.matheron', :target => '_blank'
              has reshared your profile, on Facebook.
      
