= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'

    .span8
      .row
        .span1.offset1.well
          = image_tag 'xavier.jpg'
        .span1{ :style => 'width: 89px; margin: 40px 40px 0 30px' }
          .lead.linkedin
            .icon-share
              shared
        .span4
          .card{ :style => 'margin: -4px 0 12px -15px' }
            .row
              .span4.well
                .label.label-linkedin.pull-right{ style: 'margin: -19px -19px 0 0' }
                  LinkedIn
                .row
                  .span1
                    = link_to image_tag('wansa.jpg'), candidate_profile_public_path
                  .span3
                    %h3 Wansa Sooksomwat
                    %p Retail Sales at Esprit, Amsterdam
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              1 week ago
            %i.icon-globe
              %strong
                = link_to 'Patrick Charre', 'http://fr.linkedin.com/pub/patrick-charre/7/574/442', :target => '_blank'
              visited your profile.
      .row
        .span7.offset1
          .alert.alert-danger
            .pull-right.italic
              5 days ago
            %i.icon-remove
              %strong
                = link_to 'Patrick Charre', 'http://fr.linkedin.com/pub/patrick-charre/7/574/442', :target => '_blank'
              said he is not interested in your profile.
      .row
        .span7.offset1
          .alert.alert-danger
            .pull-right.italic
              5 days ago
            %i.icon-comment
              %strong
                = link_to 'Patrick Charre', 'http://fr.linkedin.com/pub/patrick-charre/7/574/442', :target => '_blank'
              sent you a message.
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-globe
              %strong
                = link_to 'Dominic Matheron', 'http://nl.linkedin.com/in/dominicm', :target => '_blank'
              visited your profile.
      .row
        .span7.offset1
          .alert.alert-success
            .pull-right.italic
              3 days ago
            %i.icon-retweet
              %strong
                = link_to 'Dominic Matheron', 'http://nl.linkedin.com/in/dominicm', :target => '_blank'
              reshared your profile.