= render 'menu_candidate'

.row
  .span5
    .card
      .row
        %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
          %li
            %a{ :href => '#' }
              %i.icon-download
              Download CV
              
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
              %i.icon-globe
              Elsewhere online
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'LinkedIn', '#'
              %li
                = link_to 'Twitter', '#'
              %li
                = link_to 'Tumblr', '#'
      .row
        .span4.well
          .row
            .span1
              = link_to image_tag('default_user.jpg'), candidate_profile_public_path if candidate_signed?
              = link_to image_tag('wansa.jpg'), candidate_profile_public_path unless candidate_signed?
            .span3
              %h3 
                = session[:candidate][:full_name].empty? ? 'Wansa Sooksomwat' : session[:candidate][:full_name]
              %p
                = session[:candidate][:city].empty? ? 'Amsterdam,' : session[:candidate][:city]+','
                = session[:candidate][:country].empty? ? 'Netherlands' : session[:candidate][:country]
              %p
                = session[:candidate][:role].empty? ? 'Retail Sales' : session[:candidate][:role]
                = session[:candidate][:company].empty? ? 'at Esprit' : 'at '+session[:candidate][:company]
      .row
        .span1.well
          %h6
            Experience
          .gigantic 
            = session[:candidate][:experience].empty? || session[:candidate][:experience] == 1.to_s ? '1 yr' : session[:candidate][:experience].to_s+'yrs'
        .span3.well{ :style => 'padding-right:0' }
          %h6 
            Education
          .lead 
            = session[:candidate][:education].empty? ? 'HBO Bachelor in Communication & Media' : session[:candidate][:education]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6
            Professional skills
          .lead
            .row
              .span3
                = session[:candidate][:pro_skill_1][:name].empty? ? 'External communication' : session[:candidate][:pro_skill_1][:name]
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:pro_skill_1][:level]
                - else
                  .progress.progress-striped.progress-success
                    .bar{ :style => 'width:80%' }
            .row
              .span3
                = session[:candidate][:pro_skill_2][:name].empty? ? 'Event planning' : session[:candidate][:pro_skill_2][:name]
                .icon-star
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:pro_skill_2][:level]
                - else              
                  .progress.progress-striped.progress-success
                    .bar{ :style => 'width:80%' }
            .row
              .span3
                = session[:candidate][:pro_skill_3][:name].empty? ? 'Writing' : session[:candidate][:pro_skill_3][:name]
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:pro_skill_3][:level]
                - else              
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
            
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6 
            Interpersonal skills
          .lead
            .row
              .span3
                = session[:candidate][:inter_skill_1][:name].empty? ? 'Good team mate' : session[:candidate][:inter_skill_1][:name]
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:inter_skill_1][:level]
                - else              
                  .progress.progress-striped.progress-warning
                    .bar{ :style => 'width:100%' }
            .row
              .span3
                = session[:candidate][:inter_skill_2][:name].empty? ? 'Attention to details' : session[:candidate][:inter_skill_2][:name]
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:inter_skill_2][:level]
                - else               
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
            .row
              .span3
                = session[:candidate][:inter_skill_3][:name].empty? ? 'Organization' : session[:candidate][:inter_skill_3][:name]
              .span1
                - if candidate_signed?
                  = render 'progress_bar', :level => session[:candidate][:inter_skill_3][:level]
                - else               
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
      
  .span7
    %br/
    %br/
    %br/
    .row
      .span3.offset4
        .row
          .span1
            = image_tag 'loubi.jpg'
          .span1
            %p{ :style => 'margin-top:-2px' } shared by:
            %h3{ :style => 'line-height:24px' } Franck Sabattier
    %br/
    %br/
    %br/
    %br/       
    %br/
    %br/
    %br/
    %br/
    %br/
    
    .row
      .span5.offset1
        %h2{ :style => 'text-align:right' }
          .i.icon-comment
          &nbsp;
          Hey dude, I ran into this profile and thought you might be interested, she'd be perfect for everything PR!
        %br/
        %br/
        .pull-right
          %a.btn.btn-gigantic.btn-primary{ :href => recruiter_starts_discussion_path, :style => 'margin-right:0' } Sure this looks good!
          
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        
        .pull-right
          %p{ :style => 'font-size:14px; display:inline-block' } you can also
          %a.btn{ :style => 'margin: -5px 10px 0 10px' }
            .icon-share
            Share this profile
            %span.caret
        
