= render 'menu_candidate'

.row
  .span5
    .card
      .row
        %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
          %li
            %a{ :href => '#' }
              %i.icon-download
              Download CV
              
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
              %i.icon-globe
              Elsewhere online
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'LinkedIn', '#'
              %li
                = link_to 'Twitter', '#'
              %li
                = link_to 'Tumblr', '#'
      .row
        .span4.well
          .row
            .span1
              = link_to image_tag('default_user.jpg'), candidate_profile_public_path if candidate_signed?
              = link_to image_tag('wansa.jpg'), candidate_profile_public_path unless candidate_signed?
            .span3
              %h3 
                = session[:candidate_full_name].nil? ? 'Wansa Sooksomwat' : session[:candidate_full_name]
              %p
                = session[:candidate_city].nil? ? 'Amsterdam,' : session[:candidate_city]+','
                = session[:candidate_country].nil? ? 'Netherlands' : session[:candidate_country]
              %p
                = session[:candidate_role].nil? ? 'Retail Sales' : session[:candidate_role]
                = session[:candidate_company].nil? ? 'at Esprit' : 'at '+session[:candidate_company]
      .row
        .span1.well
          %h6
            Experience
          .gigantic 
            = session[:candidate_experience].nil? || session[:candidate_experience] == 1.to_s ? '1 yr' : session[:candidate_experience].to_s+'yrs'
        .span3.well{ :style => 'padding-right:0' }
          %h6 
            Education
          .lead 
            = session[:candidate_education].nil? ? 'HBO Bachelor in Communication & Media' : session[:candidate_education]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6
            Professional skills
          .lead
            .row
              .span3
                = session[:candidate_pro_skill_1].nil? ? 'External communication' : session[:candidate_pro_skill_1]
              .span1
                - unless session[:candidate_pro_skill_level_1].nil?
                  = render 'progress_bar', :level => session[:candidate_pro_skill_level_1]
                - else
                  .progress.progress-striped.progress-success
                    .bar{ :style => 'width:80%' }
            .row
              .span3
                = session[:candidate_pro_skill_2].nil? ? 'Event planning' : session[:candidate_pro_skill_2]
                .icon-star
              .span1
                - unless session[:candidate_pro_skill_level_2].nil?
                  = render 'progress_bar', :level => session[:candidate_pro_skill_level_2]
                - else              
                  .progress.progress-striped.progress-success
                    .bar{ :style => 'width:80%' }
            .row
              .span3
                = session[:candidate_pro_skill_3].nil? ? 'Writing' : session[:candidate_pro_skill_3]
              .span1
                - unless session[:candidate_pro_skill_level_3].nil?
                  = render 'progress_bar', :level => session[:candidate_pro_skill_level_3]
                - else              
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
            
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6 
            Interpersonal skills
          .lead
            .row
              .span3
                = session[:candidate_inter_skill_1].nil? ? 'Good team mate' : session[:candidate_inter_skill_1]
              .span1
                - unless session[:candidate_inter_skill_level_1].nil?
                  = render 'progress_bar', :level => session[:candidate_inter_skill_level_1]
                - else              
                  .progress.progress-striped.progress-warning
                    .bar{ :style => 'width:100%' }
            .row
              .span3
                = session[:candidate_inter_skill_2].nil? ? 'Attention to details' : session[:candidate_inter_skill_2]
              .span1
                - unless session[:candidate_inter_skill_level_2].nil?
                  = render 'progress_bar', :level => session[:candidate_inter_skill_level_2]
                - else               
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
            .row
              .span3
                = session[:candidate_inter_skill_3].nil? ? 'Organization' : session[:candidate_inter_skill_3]
              .span1
                - unless session[:candidate_inter_skill_level_3].nil?
                  = render 'progress_bar', :level => session[:candidate_inter_skill_level_3]
                - else               
                  .progress.progress-striped
                    .bar{ :style => 'width:60%' }
  
  .span5.offset1
  
    %br/
    %br/
    %br/
    %br/   
    %br/
    %br/
    %br/
    %br/
    %br/       
    %br/
    %br/
    %br/
    %br/
    %br/

    %h2{ :style => 'text-align:right' }
      .i.icon-comment
      &nbsp;
      Hi, I'm really keen to work for your company and would love to go over a few ideas together soon.
    %br/
    %br/
    .pull-right
      %a.btn.btn-gigantic.btn-danger{ :href => recruiter_answers_no_path } Not interested
      %a.btn.btn-gigantic.btn-success{ :href => recruiter_answers_yes_path, :style => 'margin-right:0' } Sure let's talk!
      
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      
    .pull-right
      %p{ :style => 'font-size:14px; display:inline-block' } you can also
      %a.btn{ :style => 'margin: -5px 10px 0 10px' }
        .icon-share
        Share my profile
        %span.caret
        