= render 'menu_candidate'

.span12
  .row
    .span2
      .row
        %ul.nav.nav-list.well
          %li.nav-header
            %i.icon-comment
            Conversations
          %li
            %a{ :href => candidate_discussions_path } Jonathan Ive
          %li
            %a{ :href => candidate_discussions2_path } Franck Sabattier
          %li
            %a{ :href => candidate_discussions3_path } Patrick Charre
          %li.active
            %a{ :href => candidate_discussions4_path } Florin Buduroi
          %br/
          %li.nav-header
            %i.icon-retweet
            Sharings
          %li
            %a{ :href => candidate_sharings_path } Franck Sabattier
          %li
            %a{ :href => candidate_sharings2_path } Xavier Dupuis
          %li
            %a{ :href => candidate_sharings3_path } Dominic Matheron
          
    .span8
      
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              Florin Buduroi is interested in your profile.
      
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('florin.jpg')
              .span3
                %h5 Florin Buduroi said:
                %p Good morning Wansa! Just stumbled upon your profile, can talk soon? I have a few positions I'd like you to look at.
                
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Great! I am free every Wednesday and Thursday mornings. When can we meet?
      
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p By the way, do you mind telling me a bit about those openings you mentioned?
      
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 Type your message:
                %textarea.input-xlarge{ :rows => '4' }
                %button.btn.btn-primary{ :type => 'submit' } Send
                %button.btn Clear  
