= render 'menu_candidate'

.row
  .span5
    .card
      .row
        %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
          %li
            %a{ :href => '#' }
              %i.icon-download
              Download CV
              
          %li.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
              %i.icon-globe
              Elsewhere online
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'LinkedIn', '#'
              %li
                = link_to 'Twitter', '#'
              %li
                = link_to 'Tumblr', '#'
      .row
        .span4.well
          .row
            .span1
              = link_to image_tag(session[:candidate][:pic]), candidate_profile_public_path
            .span3
              %h3 
                = session[:candidate][:full_name]
              %p
                = session[:candidate][:city]+', '+session[:candidate][:country]
              %p
                = session[:candidate][:role].to_s+' at '+session[:candidate][:company]
      .row
        .span1.well
          %h6
            Experience
          .gigantic 
            = session[:candidate][:experience] == 1.to_s ? '1 yr' : session[:candidate][:experience].to_s+'yrs'
        .span3.well{ :style => 'padding-right:0' }
          %h6 
            Education
          .lead 
            = session[:candidate][:education]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6
            Skills
          .lead
            .row
              .span3
                = session[:candidate][:pro_skill_1][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_1][:level]
            .row
              .span3
                = session[:candidate][:pro_skill_2][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_2][:level]
            .row
              .span3
                = session[:candidate][:pro_skill_3][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:pro_skill_3][:level]
      .row
        .span4.well{ style: 'padding-bottom:0' }
          %h6 
            Qualities
          .lead
            .row
              .span3
                = session[:candidate][:inter_skill_1][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_1][:level]
            .row
              .span3
                = session[:candidate][:inter_skill_2][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_2][:level]
            .row
              .span3
                = session[:candidate][:inter_skill_3][:name]
              .span1
                = render 'progress_bar', :level => session[:candidate][:inter_skill_3][:level]
      .row
        .span4
          %a.btn.btn-gigantic.btn-primary{ :href => candidate_profile_social_share_you_path, :style => 'margin: 25px 0 0 -25px' }
            .icon-eye-close
            Close preview
  
  .span5.offset1
  
    %br/
    %br/
    %br/
    %br/   
    %br/
    %br/
    %br/
    %br/
    %br/       
    %br/
    %br/
    %br/
    %br/
    %br/

    %h2{ :style => 'text-align:right' }
      .i.icon-comment
      &nbsp;
      Hi, I'm really keen to work for your company and would love to go over a few ideas together soon.
    %br/
    %br/
    .pull-right
      %a.btn.btn-gigantic.btn-danger{ :href => recruiter_says_no_path } Not interested
      %a.btn.btn-gigantic.btn-success{ :href => recruiter_says_yes_path, :style => 'margin-right:0' } Let's talk!
      
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      
    .pull-right
      %p{ :style => 'margin-right: 5px; font-size:14px; display:inline-block' } you can also
      .btn-group{ :style => 'display:inline-block' }
        %a.btn.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#', :style => 'margin-bottom: -10px'  }
          %i.icon-share
          Share my profile
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Email', candidate_profile_email_share_others_path
          %li
            = link_to 'Social networks', candidate_profile_social_share_others_path
    