= render 'menu_candidate'

%br/
%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'
          
    .span8
      .row
        .span7.offset1
          .alert.alert-danger
            %i.icon-remove
              Patrick Charre is not interested in your profile.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('patrick.jpeg')
              .span3
                %h5 Patrick Charre said:
                %p I was having a quick look at your profile but we're looking for someone more experience really.
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 You said:
                %p Ok I understand, thanks for your answer anyway.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('patrick.jpeg')
              .span3
                %h5 Patrick Charre said:
                %p You're welcome!
      #dynamic_content
      .row
        = render 'candidate_toolbox'
        .span5
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), candidate_profile_public_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('wansa.jpg')" } Send
                %button.btn{ :onclick => 'clean()' } Clear    
