= render 'menu_candidate'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_candidate_interactions'

    .span8
      .row
        .span1.offset1.well
          = image_tag 'loubi.jpg'
        .span1{ :style => 'width: 89px; margin: 40px 40px 0 30px' }
          .lead.twitter
            .icon-share
              shared
        .span4
          .card{ :style => 'margin: -4px 0 12px -15px' }
            .row
              .span4.well
                .label.label-twitter.pull-right{ style: 'margin: -19px -19px 0 0' }
                  on Twitter
                .row
                  .span1
                    = link_to image_tag('wansa.jpg'), candidate_profile_public_path
                  .span3
                    %h3 Wansa Sooksomwat
                    %p Retail Sales at Esprit, Amsterdam
      .row    
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              3 days ago
            %i.icon-globe
              %strong
                = link_to 'Joel Laumans', 'https://twitter.com/#!/piksels', :target => '_blank'
              @piksel visited your profile.
      .row
        .span1.offset1.well
          = image_tag 'loubi.jpg'
        .span1{ :style => 'width: 89px; margin: 40px 40px 0 30px' }
          .lead.linkedin
            .icon-share
              shared
        .span4
          .card{ :style => 'margin: -4px 0 12px -15px' }
            .row
              .span4.well
                .label.label-linkedin.pull-right{ style: 'margin: -19px -19px 0 0' }
                  on LinkedIn
                .row
                  .span1
                    = link_to image_tag('wansa.jpg'), candidate_profile_public_path
                  .span3
                    %h3 Wansa Sooksomwat
                    %p Retail Sales at Esprit, Amsterdam
      .row
        .span7.offset1
          .alert.alert-info
            .pull-right.italic
              1 day ago
            %i.icon-globe
              %strong
                = link_to link_to 'Xavier Dupuis', 'http://fr.linkedin.com/pub/xavier-dupuis/49/971/a92', :target => '_blank'
              visited your profile.
      .row
        .span7.offset1
          .alert.alert-success
            .pull-right.italic
              10 minutes ago
            %i.icon-retweet
              %strong
                = link_to 'Xavier Dupuis', 'http://fr.linkedin.com/pub/xavier-dupuis/49/971/a92', :target => '_blank'
              reshared your profile.
