= render 'menu_recruiter'

.span4.card
  .row
    .span3.well
      .row
        .span1
          = link_to image_tag(session[:recruiter][:pic]), recruiter_profile_path
        .span2
          %h3 
            = session[:recruiter][:full_name]
          .lead{ style: 'margin-bottom:0' }
            = session[:recruiter][:company]
          %i 
            = session[:recruiter][:city]+', '+session[:recruiter][:country]
  %h3{ :style => 'margin: 10px 0 10px -25px' } is looking for:
  .row
    .span3.well
      .row
        .span1
          = image_tag('default_user.jpg')
        .span2
          %h3
            = session[:recruiter][:profile_3][:title]
          %p 
            = session[:recruiter][:profile_3][:city]+', '+session[:recruiter][:profile_3][:country]
  .row
    .span1.well
      %h6
        Experience
      .gigantic
        = session[:recruiter][:profile_3][:experience]
    .span2.well{ :style => 'min-height: 92px; padding-right:0' }
      %h6 
        Education
      .lead 
        = session[:recruiter][:profile_3][:education]
  .row
    .span3.well
      %h6
        Skills
      .lead
        = session[:recruiter][:profile_3][:skill_1]
        - if session[:recruiter][:profile_3][:star] == 'recruiter_profile_3_star_1'
          .icon-star        
        %br/
        = session[:recruiter][:profile_3][:skill_2]        
        - if session[:recruiter][:profile_3][:star] == 'recruiter_profile_3_star_2'
          .icon-star
        %br/
        = session[:recruiter][:profile_3][:skill_3]        
        - if session[:recruiter][:profile_3][:star] == 'recruiter_profile_3_star_3'
          .icon-star

.span7
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/       
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  .row
    .span5.offset1
      %h2{ :style => 'text-align:right' }
        .i.icon-comment
        &nbsp;
        You can handle big teams and trust agile as much as tartiflette? Welcome on board!
      %br/
      %br/
      .pull-right
        .btn-group{ :style => 'display:inline-block' }
          %a.btn.btn-gigantic.dropdown-toggle.disabled{ "data-toggle" => "dropdown", :href => '#', :style => 'padding-left: 15px; margin-bottom: -24px'  }
            %i.icon-share
            Share
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'Email', '#'
            %li
              = link_to 'LinkedIn', '#'
            %li
              = link_to 'Twitter', '#'
            %li
              = link_to 'Facebook', '#'
            %li
              = link_to 'Google+', '#'
        %a.btn.btn-gigantic.btn-success{ :href => candidate_matches3_path, :style => 'margin-right:0' } I match!
