= render 'menu_recruiter'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_recruiter_interactions'
        
    .span9
    
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 You are looking for:
                %p Graphic Designer in Amsterdam with 5 yrs experience and HBO level.
      .row
        .span4.offset4
          .card.pull-right{ :style => 'margin: -4px -5px 12px 0' }
            .row
              .span3.well
                .row
                  .span1
                    = link_to image_tag('default_user.jpg'), candidate_profile_public_path
                  .span2
                    %h3 Graphic Designer
                    %p Amsterdam, Netherlands
            .row
              .span1.well
                %h6
                  Experience
                .gigantic 5yrs
              .span2.well{ :style => 'padding-right:0' }
                %h6 
                  Education
                .lead HBO or similar degree
            .row
              .span3.well
                %h6
                  Skills
                .lead
                  Visual Design
                  %br/
                  Interaction Design
                  %br/
                  Quick Prototyping

      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              Carole Delhens said she matches this profile.
      
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('carole.jpg')
              .span3
                %h5 Carole Delhens said:
                %p Good afternoon. I just saw your Graphic Designer position and I think I've got what it takes. Please have a look and let me know!
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 You said:
                %p You're application is looking good indeed! When shall we meet?
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              You accepted Carole Delhens's application.
      #dynamic_content
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('dom.jpg')" } Send
                %button.btn{ :onclick => 'clean()' } Clear