= render 'menu_recruiter'

.span4.card
  .row
    %ul.nav.nav-pills{ :style => 'margin-bottom:10px' }
      %li.dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
          %i.icon-globe
          Elsewhere online
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to 'Company site', '#'
          %li
            = link_to 'LinkedIn', '#'
          %li
            = link_to 'Twitter', '#'
          %li
            = link_to 'Tumblr', '#'
      %li.dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
          %i.icon-share
          Share this profile
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to 'by email', '#'
          %li
            = link_to 'on LinkedIn', '#'
          %li
            = link_to 'on Twitter', '#'
          %li
            = link_to 'on Facebook', '#'
          %li
            = link_to 'on Google+', '#'
  .row
    .span3.well
      .row
        .span1
          = link_to image_tag('dom.jpg'), recruiter_profile_path
        .span2
          %h3 Dominic Matheron
          .lead{ style: 'margin-bottom:0' } Viadeo
          %i Amsterdam, Netherlands
  .row
    .span3.well{ style: 'padding-bottom:0' }
      %h6 Recruits
      .lead
        .row
          .span2
            Programmers
          .span1
            .progress.progress-striped.progress-success
              .bar{ :style => 'width:80%' }
        .row
          .span2
            Designers
            
          .span1
            .progress.progress-striped
              .bar{ :style => 'width:60%' }
        .row
          .span2
            Copywriters
          .span1
            .progress.progress-striped.progress-danger
              .bar{ :style => 'width:30%' }
  .row
    .span3.well{ style: 'padding-bottom:0' }
      %h6 Minds
      .lead
        .row
          .span2
            Honesty
            .icon-star
          .span1
            .progress.progress-striped.progress-warning
              .bar{ :style => 'width:100%' }
        .row
          .span2
            Friendliness
          .span1
            .progress.progress-striped.progress-success
              .bar{ :style => 'width:80%' }
        .row
          .span2
            Punctuality
          .span1
            .progress.progress-striped
              .bar{ :style => 'width:60%' }
  .row
    .span3.well{ style: 'padding-bottom:0' }
      %h6 Flexible on
      .lead{ :style => 'margin-bottom: 30px' }
        Education

.span8
  %h2{ :style => 'margin-bottom:10px' } Looking for:
  .row
    .span4
      .card
        .row
          .span3.well
            .row
              .span1
                = link_to image_tag('default_user.jpg'), candidate_profile_public_path
              .span2
                %h3 Graphic Designer
                %p Amsterdam, Netherlands
        .row
          .span1.well
            %h6
              Experience
            .gigantic 5yrs
          .span2.well{ :style => 'padding-right:0' }
            %h6 
              Education
            .lead HBO or similar degree
        .row
          .span3.well
            %h6
              Skills
            .lead
              Visual Design
              %br/
              Interaction Design
              %br/
              Quick Prototyping
        .row
          .span3
            .pull-right{ :style => 'margin-right: -15px' }
              .btn-group{ :style => 'margin-top: 6px; display: inline-block' }
                %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
                  %i.icon-share
                  Share
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'by email', '#'
                  %li
                    = link_to 'on LinkedIn', '#'
                  %li
                    = link_to 'on Twitter', '#'
                  %li
                    = link_to 'on Facebook', '#'
                  %li
                    = link_to 'on Google+', '#'
              %a.btn.btn-large.btn-success{ :href => candidate_matches_path, :style => 'margin: -32px 0 0 2px' } I match!
    .span4
      .card
        .row
          .span3.well
            .row
              .span1
                = link_to image_tag('default_user.jpg'), candidate_profile_public_path
              .span2
                %h3 Mobile Developer
                %p Amsterdam, Netherlands
        .row
          .span1.well
            %h6
              Experience
            .gigantic 2yrs
          .span2.well{ :style => 'padding-right:0' }
            %h6 
              Education
            .lead Bachelor in sone serious school
        .row
          .span3.well
            %h6
              Skills
            .lead
              iOS
              %br/
              Android
              %br/
              Extremely Rigorous
              .icon-star
        .row
          .span3
            .pull-right{ :style => 'margin-right: -15px' }
              .btn-group{ :style => 'margin-top: 6px; display: inline-block' }
                %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
                  %i.icon-share
                  Share
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'by email', '#'
                  %li
                    = link_to 'on LinkedIn', '#'
                  %li
                    = link_to 'on Twitter', '#'
                  %li
                    = link_to 'on Facebook', '#'
                  %li
                    = link_to 'on Google+', '#'
              %a.btn.btn-large.btn-success{ :href => candidate_matches2_path, :style => 'margin: -32px 0 0 2px' } I match!      
              %br/
              %br/
              %br/
              %br/
  
  .row
    .span4
      .card
        .row
          .span3.well
            .row
              .span1
                = link_to image_tag('default_user.jpg'), candidate_profile_public_path
              .span2
                %h3 Project Manager
                %p Paris, France
        .row
          .span1.well
            %h6
              Experience
            .gigantic
              5-8y
          .span2.well{ :style => 'padding-right:0' }
            %h6 
              Education
            .lead Experience is the key here
        .row
          .span3.well
            %h6
              Skills
            .lead
              Experienced at Scaling
              %br/
              Agile
              %br/
              Open to oustide input
              .icon-star
        .row
          .span3
            .pull-right{ :style => 'margin-right: -15px' }
              .btn-group{ :style => 'margin-top: 6px; display: inline-block' }
                %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
                  %i.icon-share
                  Share
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'by email', '#'
                  %li
                    = link_to 'on LinkedIn', '#'
                  %li
                    = link_to 'on Twitter', '#'
                  %li
                    = link_to 'on Facebook', '#'
                  %li
                    = link_to 'on Google+', '#'
              %a.btn.btn-large.btn-success{ :href => candidate_matches3_path, :style => 'margin: -32px 0 0 2px' } I match!
    .span4
      .card
        .row
          .span3.well
            .row
              .span1
                = link_to image_tag('default_user.jpg'), candidate_profile_public_path
              .span2
                %h3 Italien Copywriter
                %p Paris, France
        .row
          .span1.well
            %h6
              Experience
            .gigantic 1 yr
          .span2.well{ :style => 'padding-right:0' }
            %h6 
              Education
            .lead Master in Translation
        .row
          .span3.well
            %h6
              Skills
            .lead
              Native Speaker
              .icon-star
              %br/
              Intelligent
              %br/
              Flexible
        .row
          .span3
            .pull-right{ :style => 'margin-right: -15px' }
              .btn-group{ :style => 'margin-top: 6px; display: inline-block' }
                %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown", :href => '#' }
                  %i.icon-share
                  Share
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'by email', '#'
                  %li
                    = link_to 'on LinkedIn', '#'
                  %li
                    = link_to 'on Twitter', '#'
                  %li
                    = link_to 'on Facebook', '#'
                  %li
                    = link_to 'on Google+', '#'
              %a.btn.btn-large.btn-success{ :href => candidate_matches4_path, :style => 'margin: -32px 0 0 2px' } I match!
        