= render 'shareable_menu'

.row
  .span8
    .row
      .span8
        .hero-unit
          %h2 “Software should focus on solving complicated problems with simple solutions.” 
          %br/
          %p ― Dominic Matheron
  .span3
    .row
      .span1
        = link_to image_tag('dom.jpg'), recruiter_profile_path
      .span2
        %h3 Dominic Matheron
        %p Amsterdam, Netherlands
    %br/
    .row
      .span3.lead
        Product owner, Viadeo
    .row
      .span3
        %span.label.label-inverse RUBY ON RAILS
        %span.label.label-inverse LEAN STARTUP
        %span.label.label-inverse CUSTOMER DEVELOPMENT
        %span.label.label-inverse PEOPLE SKILLS
        %span.label.label-inverse NBA
        %span.label.label-inverse EPICUREAN
        %span.label.label-inverse MUSIC
        %span.label.label-inverse USER EXPERIENCE
    %br/
    .row
      .span3
        %span.label.label-info Elsewhere online
        %br/
        .btn.service LinkedIn
        .btn.service Twitter
        .btn.service Tumblr
        
.row
  .span12
    %h2 Looking for:
    %br/
  
.row
  .span3
    .row
      .span1
        = image_tag 'default_user.jpg'
      .span2
        %h3 Graphic designer
        %p Amsterdam, Netherlands
    %br/
    .row
      .span3
        %span.label.label-inverse VISUAL DESIGN
        %span.label.label-inverse INTERACTION DESIGN
        %span.label.label-inverse HTML/CSS PROTOTYPING
        %span.label.label-inverse STARTUP MINDED
        %span.label.label-inverse EASY GOING
        %span.label.label-inverse FOCUSED
    %br/
    .row
      .span1
        %span.label.label-success Experience
        %br/
        .lead 5 yrs or so
      .span2
        %span.label.label-success Education
        %br/
        .lead HBO
    .row
      .span4
        .btn I might match because...
        .btn.btn-danger I match!
  .span3.offset1
    .row
      .span1
        = image_tag 'default_user.jpg'
      .span2
        %h3 Mobile developer
        %p Amsterdam, Netherlands
    %br/
    .row
      .span3
        %span.label.label-inverse iOS
        %span.label.label-inverse Android
        %span.label.label-inverse MOBILE JQUERY
        %span.label.label-inverse EXTREMELY RIGOUROUS
        %span.label.label-inverse DEV = PASSION
        %span.label.label-inverse VISUAL EYE
    %br/
    .row
      .span1
        %span.label.label-success Experience
        %br/
        .lead 2 yrs at least
      .span2
        %span.label.label-success Education
        %br/
        .lead Bachelor in some serious school
    .row
      .span4
        .btn I might match because...
        .btn.btn-danger I match!
  .span3.offset1
    .row
      .span1
        = image_tag 'default_user.jpg'
      .span2
        %h3 Project manager
        %p Paris, France
    %br/
    .row
      .span3
        %span.label.label-inverse AGILE
        %span.label.label-inverse SCRUM
        %span.label.label-inverse RUBY ON RAILS
        %span.label.label-inverse EXPERIENCED WITH SCALING
        %span.label.label-inverse DRIVEN
        %span.label.label-inverse OPEN TO OUTSIDE INPUT
    %br/
    .row
      .span1
        %span.label.label-success Experience
        %br/
        .lead 5-8 yrs
      .span2
        %span.label.label-success Education
        %br/
        .lead Experience matters the most here
    .row
      .span4
        .btn I might match because...
        .btn.btn-danger I match!
  