= render 'menu_recruiter'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_recruiter_interactions'
        
    .span8
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              Caroline Berne sent you an open application.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('caroline.jpg')
              .span3
                %h5 Caroline Berne said:
                %p Hi, I just completed my studies and am looking for work.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('caroline.jpg')
              .span3
                %h5 Caroline Berne said:
                %p I speak 5 languages and can handle everything administration related, could I be of any interest to you?
      #dynamic_content
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                #buttons
                  %button.btn.btn-success{ :onclick => "accept('Caroline Berne')" } Accept application
                  %button.btn.btn-danger{  :onclick => "reject('Caroline Berne')" } Reject application
                  %br/
                  %br/
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('dom.jpg')" } Send
                %button.btn{ :onclick => 'clean()' } Clear