= render 'menu_recruiter'

%br/

.span12
  .row
    .span2
      .row
        = render 'menu_recruiter_interactions'
        
    .span9
    
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 You are looking for:
                %p Project Manager in Paris with 5 to 8 yrs experience.
      .row
        .span4.offset4
          .card.pull-right{ :style => 'margin: -4px -5px 12px 0' }
            .row
              .span3.well
                .row
                  .span1
                    = link_to image_tag('default_user.jpg'), candidate_profile_public_path
                  .span2
                    %h3 Project Manager
                    %p Paris, France
            .row
              .span1.well
                %h6
                  Experience
                .gigantic
                  5-8y
              .span2.well{ :style => 'padding-right:0' }
                %h6 
                  Education
                .lead Experience is the key here
            .row
              .span3.well
                %h6
                  Skills
                .lead
                  Experienced at Scaling
                  %br/
                  Agile
                  %br/
                  Open to oustide input
                  .icon-star
      
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              Mathieu Tessier said he matches this profile.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('mathieu.jpg')
              .span3
                %h5 Mathieu said:
                %p Good morning! Just read your vacancy and I think I'm perfect for the job, what do you think?
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 You said:
                %p Hmm, I'm sorry but we need an English speaker and your seem to only speak French.
      .row
        .span7.offset1
          .alert.alert-danger
            %i.icon-remove
              You rejected Mathieu's application.
      .row
        .span5.offset1
          .well
            .row
              .span1
                = image_tag('mathieu.jpg')
              .span3
                %h5 Mathieu said:
                %p You're weird, I'm speaking English here, doesn't it tell you anything?
      #dynamic_content
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 Type your message:
                %textarea#message.input-xlarge{ :rows => '4' }
                %br/
                %button.btn.btn-primary{ :type => 'submit', :onclick => "add_message('dom.jpg')" } Send
                %button.btn{ :onclick => 'clean()' } Clear