%br/
.header  
  %h1 Complete you profile!
%br/

%form{ :action => recruiter_profile_path, :method => 'POST' }
  = hidden_field_tag :success, 'Welcome to Engaccino!'
  .row
    .span5
      .card
        .row
          .span4.well{ style: 'padding-bottom:9px' }
            .row
              .span1
                = image_tag('default_user.jpg', :id => 'recruiter_picture')
              .span2
                %input.input-medium{ :type => 'text', :placeholder => 'Full name', :style => 'height:13px; font-size:15px; font-weight:bold', :name => '[recruiter][full_name]' }
                %br/
                %input.input-medium{ :type => 'text', :placeholder => 'Company', :style => 'height:9px; font-size:14px; margin-top: -4px', :name => '[recruiter][company]' }
                %br/
                %input.input-mini{ :type => 'text', :placeholder => 'City', :style => 'height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][city]' }
                %input.input-mini{ :type => 'text', :placeholder => 'Country', :style => 'width: 75px; height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][country]' }
        .row
          .span4.well{ style: 'padding-bottom:0' }
            %h6
              Roles you often look for
            .lead
              .row
                %input#role_star{ :type => 'hidden', :name => '[recruiter][role_star]'}
                .span3
                  %input{ :type => 'text', :name => '[recruiter][role_1][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_role_star_1{ :onclick => "toggleStar('recruiter_role_star_1','role','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][role_1][level]'}
                    %option{ :value => 'not_a_priority' } Sometimes
                    %option{ :value => 'intermediate' } Often
                    %option{ :value => 'required' } Very often
                    %option{ :value => 'urgent' } Almost always
              .row
                .span3
                  %input{ :type => 'text', :name => '[recruiter][role_2][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_role_star_2{ :onclick => "toggleStar('recruiter_role_star_2','role','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][role_2][level]'}
                    %option{ :value => 'not_a_priority' } Sometimes
                    %option{ :value => 'intermediate' } Often
                    %option{ :value => 'required' } Very often
                    %option{ :value => 'urgent' } Almost always
              .row
                .span3
                  %input{ :type => 'text', :name => '[recruiter][role_3][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_role_star_3{ :onclick => "toggleStar('recruiter_role_star_3','role','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][role_3][level]'}
                    %option{ :value => 'not_a_priority' } Sometimes
                    %option{ :value => 'intermediate' } Often
                    %option{ :value => 'required' } Very often
                    %option{ :value => 'urgent' } Almost always
        .row
          .span4.well{ style: 'padding-bottom:0' }
            %h6 
              Qualities you care about in a candidate
            .lead
              .row
                %input#quality_star{ :type => 'hidden', :name => '[recruiter][quality_star]'}
                .span3
                  %input{ :type => 'text', :name => '[recruiter][quality_1][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_quality_star_1{ :onclick => "toggleStar('recruiter_quality_star_1','quality','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][quality_1][level]'}
                    %option{ :value => 'not_a_priority' } Quite important
                    %option{ :value => 'intermediate' } Important
                    %option{ :value => 'required' } Very important
                    %option{ :value => 'urgent' } Essential
              .row
                .span3
                  %input{ :type => 'text', :name => '[recruiter][quality_2][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_quality_star_2{ :onclick => "toggleStar('recruiter_quality_star_2','quality','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][quality_2][level]'}
                    %option{ :value => 'not_a_priority' } Quite important
                    %option{ :value => 'intermediate' } Important
                    %option{ :value => 'required' } Very important
                    %option{ :value => 'urgent' } Essential
              .row
                .span3
                  %input{ :type => 'text', :name => '[recruiter][quality_3][name]', :style => 'font-size:15px' }
                  .icon-star-empty.star#recruiter_quality_star_3{ :onclick => "toggleStar('recruiter_quality_star_3','quality','recruiter')" }
                .span1
                  %select.select-level{ :name => '[recruiter][quality_3][level]'}
                    %option{ :value => 'not_a_priority' } Quite important
                    %option{ :value => 'intermediate' } Important
                    %option{ :value => 'required' } Very important
                    %option{ :value => 'urgent' } Essential
        .row
          .span4.well{ style: 'padding-bottom:0' }
            %h6
              Points you are flexible on
            .lead
              .row
                .span2
                  %input{ :type => 'text', :name => '[recruiter][flexible_1]', :style => 'font-size:15px' }
              .row
                .span2
                  %input{ :type => 'text', :name => '[recruiter][flexible_2]', :style => 'font-size:15px' }
              .row
                .span2
                  %input{ :type => 'text', :name => '[recruiter][flexible_3]', :style => 'font-size:15px' }
    
    .span8
      .row
        .span4
          %h2{ :style => 'margin-bottom:10px; display:inline-block' } Looking for:
          %a.btn.btn-mini.pull-right{ :href => '#', :onclick => "$('#profile_2').removeClass('hidden')", :style => 'margin: 10px 60px 0 0' }
            .icon-plus
            &nbsp; add more
      .row
        .span4
          .card{:style => 'float:left;'}
            .row
              .span3.well{ style: 'padding-bottom:9px' }
                .row
                  .span1
                    = image_tag('default_user.jpg')
                  .span2
                    %input.input-medium{ :type => 'text', :placeholder => 'Job title', :style => 'height:13px; font-size:15px; font-weight:bold', :name => '[recruiter][profile_1][title]' }
                    %input.input-medium{ :type => 'text', :placeholder => 'City', :style => 'height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][profile_1][city]' }
                    %input.input-medium{ :type => 'text', :placeholder => 'Country', :style => 'height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][profile_1][country]' }
            .row
              .span1.well{ style: 'padding-bottom:7px' }
                %h6
                  Experience
                  %input{ :type => 'text', :style => 'height:30px; width:40px; margin-bottom:-10px; margin-top: 5px;  font-size:30px; font-weight:bold', :name => '[recruiter][profile_1][experience]' }
                  %h2 yrs
              .span2.well{ :style => 'padding-right:0; padding-bottom:7px' }
                %h6 
                  Education
                %textarea{ :rows => 3, :name => '[recruiter][profile_1][education]', :style => 'width: 140px; margin-top: -5px; margin-bottom: 12px;' }
            .row
              .span3.well{ style: 'padding-bottom:0px' }
                %h6
                  Skills
                .lead
                  .row
                    .span3
                      %input#profile_1_star{ :type => 'hidden', :name => '[recruiter][profile_1][star]'}
                      %input{ :type => 'text', :name => '[recruiter][profile_1][skill_1]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_1_star_1{ :onclick => "toggleStar('recruiter_profile_1_star_1','profile_1','recruiter')" }
                  .row
                    .span3
                      %input{ :type => 'text', :name => '[recruiter][profile_1][skill_2]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_1_star_2{ :onclick => "toggleStar('recruiter_profile_1_star_2','profile_1','recruiter')" }
                  .row
                    .span3
                      %input{ :type => 'text', :name => '[recruiter][profile_1][skill_3]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_1_star_3{ :onclick => "toggleStar('recruiter_profile_1_star_3','profile_1','recruiter')" }
        .span4
          .card.hidden#profile_2
            .row
              .span3.well{ style: 'padding-bottom:9px' }
                .row
                  .span1
                    = image_tag('default_user.jpg')
                  .span2
                    %input.input-medium{ :type => 'text', :placeholder => 'Job title', :style => 'height:13px; font-size:15px; font-weight:bold', :name => '[recruiter][profile_2][title]' }
                    %input.input-medium{ :type => 'text', :placeholder => 'City', :style => 'height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][profile_2][city]' }
                    %input.input-medium{ :type => 'text', :placeholder => 'Country', :style => 'height:9px; margin-top: -4px; font-size:14px;', :name => '[recruiter][profile_2][country]' }
            .row
              .span1.well{ style: 'padding-bottom:7px' }
                %h6
                  Experience
                  %input{ :type => 'text', :style => 'height:30px; width:40px; margin-bottom:-10px; margin-top: 5px;  font-size:30px; font-weight:bold', :name => '[recruiter][profile_2][experience]' }
                  %h2 yrs
              .span2.well{ :style => 'padding-right:0; padding-bottom:7px' }
                %h6 
                  Education
                %textarea{ :rows => 3, :name => '[recruiter][profile_2][education]', :style => 'width: 140px; margin-top: -5px; margin-bottom: 12px;' }
            .row
              .span3.well{ style: 'padding-bottom:0' }
                %h6
                  Skills
                .lead
                  .row
                    .span3
                      %input#profile_2_star{ :type => 'hidden', :name => '[recruiter][profile_2[star]'}
                      %input{ :type => 'text', :name => '[recruiter][profile_2][skill_1]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_2_star_1{ :onclick => "toggleStar('recruiter_profile_2_star_1','profile_2','recruiter')" }
                  .row
                    .span3
                      %input{ :type => 'text', :name => '[recruiter][profile_2][skill_2]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_2_star_2{ :onclick => "toggleStar('recruiter_profile_2_star_2','profile_2','recruiter')" }
                  .row
                    .span3
                      %input{ :type => 'text', :name => '[recruiter][profile_2][skill_3]', :style => 'font-size:15px' }
                      .icon-star-empty.star#recruiter_profile_2_star_3{ :onclick => "toggleStar('recruiter_profile_2_star_3','profile_2','recruiter')" }       
      .row
        .span4
          %button.btn.btn-gigantic.btn-primary.pull-right{ :type => 'submit', :style => 'margin: 60px 60px 0 0' } Save your profile!

.modal.hide#facebook-modal
  .modal-header
    %button.close{ :type => 'button', "data-dismiss" => 'modal' } ×
    %h3
      = image_tag 'facebook.png', :style => 'margin-right:5px'
      Import from Facebook
  .modal-body
    %input{ :type => 'text', :placeholder => 'Email address' }
    %br/
    %input{ :type => 'password', :placeholder => 'Password' }
  .modal-footer
    %a.btn{ :href => '#', "data-dismiss" => 'modal' } Close
    %a.btn.btn-primary{ :href => '#', :onclick => "$('#facebook-modal').modal('hide'); import_data('recruiter')" } Sign in
    
.modal.hide#linkedin-modal
  .modal-header
    %button.close{ :type => 'button', "data-dismiss" => 'modal' } ×
    %h3
      = image_tag 'linkedin.png', :style => 'margin-right:5px'
      Import from LinkedIn
  .modal-body
    %input{ :type => 'text', :placeholder => 'Email address' }
    %br/
    %input{ :type => 'password', :placeholder => 'Password' }
  .modal-footer
    %a.btn{ :href => '#', "data-dismiss" => 'modal' } Close
    %a.btn.btn-primary{ :href => '#', :onclick => "$('#linkedin-modal').modal('hide'); import_data('recruiter')" } Sign in
  
