.pagination
  %ul
    %li
      = link_to 'Prev', '#'
    %li{ :class => active?('shareable_1') }
      = link_to '1', shareable_1_path
    %li{ :class => active?('shareable_2') }
      = link_to '2', shareable_2_path
    %li{ :class => active?('shareable_3') }
      = link_to '3', shareable_3_path
    %li{ :class => active?('shareable_4') }
      = link_to '4', shareable_4_path
    %li
      = link_to 'Next', '#'
%br/